<div class="feature-highlight-container bg-white w-100">
  <div class="container-fluid px-3 px-md-4 px-lg-5 py-5">
    
    <div class="row mb-5">
      <div class="col-12">
        <div class="top-border-line"></div>
      </div>
    </div>
    
    <div class="row align-items-center justify-content-center g-4 g-md-5">
      
      <div class="col-12 col-md-5 d-flex justify-content-center">
        <div class="feature-image-wrapper">
          <div class="modern-soft-frame">
            <img src="image-41.png" alt="Our Featured Catalogues" class="feature-img">
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-6">
        <div class="feature-text-content">
          <h2 class="feature-heading text-uppercase">Our Featured Catalogues</h2>
          <p class="feature-description">Browse our curated catalogues to discover the latest deals, trending products, and exclusive offers.</p>
          
          <div class="catalogue-links-wrapper mt-4">
            <a routerLink="/on-sale" class="catalogue-link d-flex align-items-center">
              <span class="link-text">ON SALE</span> 
              <i class="bi bi-chevron-right ms-2 transition-icon"></i>
            </a>
            
            <a routerLink="/bundle-deals" class="catalogue-link d-flex align-items-center">
              <span class="link-text">BUNDLE DEALS</span> 
              <i class="bi bi-chevron-right ms-2 transition-icon"></i>
            </a>
            
            <a routerLink="/promotions" class="catalogue-link d-flex align-items-center">
              <span class="link-text">PROMOTIONS</span> 
              <i class="bi bi-chevron-right ms-2 transition-icon"></i>
            </a>
            
            <a routerLink="/trending-now" class="catalogue-link d-flex align-items-center">
              <span class="link-text">TRENDING NOW</span> 
              <i class="bi bi-chevron-right ms-2 transition-icon"></i>
            </a>
            
            <a routerLink="/clearance-sale" class="catalogue-link d-flex align-items-center">
              <span class="link-text">CLEARANCE SALE</span> 
              <i class="bi bi-chevron-right ms-2 transition-icon"></i>
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>