<div class="marketing-tile-container bg-white w-100">
  <div class="container-fluid px-3 px-md-4 px-lg-5 py-5">
    
    <div class="row mb-5">
      <div class="col-12">
        <div class="top-border-line"></div>
      </div>
    </div>
    
    <div class="row align-items-center justify-content-center g-4 g-md-5">
      
      <div class="col-12 col-md-5 d-flex justify-content-center">
        <div class="marketing-image-wrapper">
          <!-- New Editorial Frame Wrapper -->
          <div class="editorial-frame">
            <img src="image-15.png" alt="LOOK GOOD. FEEL CONFIDENT" class="marketing-img">
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-6">
        <div class="marketing-text-content">
          <span class="marketing-overline text-uppercase d-block">MADE FOR OUR CUSTOMERS</span>
          <h2 class="marketing-heading text-uppercase">LOOK GOOD. FEEL CONFIDENT</h2>
          <p class="marketing-description">We create a curated range of promotions to give you better value on the looks you love. Quality hair, better prices, always in your favour.</p>
          <div class="marketing-action-wrapper">
            <button class="btn-marketing-action text-uppercase fw-semibold" routerLink="/promotions">
              View Promotions
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>